<header>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Angeletta Accessorie</h1>
            <p class="lead">
                Takıların ve insanların bütünleşip
                İncileri sihirli bir şekilde ipek gibi gösteren Aksesuar teknikleri sizlerle...
            </p>
        </div>
    </div>
</header>